.main_flex {
    display: flex;
    flex-flow: row wrap;
}

.main_flex__nowrap {
    display: flex;
    flex-flow: row nowrap;
}

.flex__auto {    
    flex: auto;
}

.flex__jcontent_between {
    justify-content: space-between;
}

.flex__jcontent_start {   
    justify-content: flex-start;
}

.flex__jcontent_end {  
    justify-content: flex-end;
}

.flex__jcontent_center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
}

.flex__jcontent_around {
    -ms-flex-pack: distribute;
    justify-content: space-around;

}

.flex__jcontent_space_between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.flex__jcontent_space_evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;

}


.flex__align-items_start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

}

.flex__align-items_end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

}

.flex__align-items_baseline {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;

}

.flex__align-items_stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

}

.flex__align-items_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.flex__align-content_flex-start {
    -ms-flex-line-pack: start;
    align-content: flex-start;

}

.flex__align-content_flex-end {
    -ms-flex-line-pack: end;
    align-content: flex-end;

}

.flex__align-content_space-between {
    -ms-flex-line-pack: justify;
    align-content: space-between;

}

.flex__align-content_center {
    -ms-flex-line-pack: center;
    align-content: center;

}

.flex__align-content_space-around {
    -ms-flex-line-pack: distribute;
    align-content: space-around;

}

.flex__align-content_stretch {
    -ms-flex-line-pack: stretch;
    align-content: stretch;

}

.flex__flex-grow_01 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

}

.flex__flex-grow_02 {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;

}

.flex__flex-grow_03 {
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;

}

.flex__flex-grow_04 {
    -webkit-box-flex: 4;
    -ms-flex-positive: 4;
    flex-grow: 4;

}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex__align-self_center {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.flex__align-self_start {
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
}

.flex__align-self_end {
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
}

.flex__direction_column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}

.flex__order_1 {
    order: 1;
}
.flex__order_2 {
    order: 2;
}
.flex__order_3 {
    order: 3;
}
.flex__order_4 {
    order: 4;
}
.flex__order_5 {
    order: 5;
}